In [1]:
import pandas as pd # To manage data as data frames
import numpy as np # To manipulate data as arrays
from sklearn.linear_model import LogisticRegression # Classification model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

import math
import pickle

In [2]:
df = pd.read_csv("./data/iris.csv")
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
df.shape

(150, 5)

In [4]:
# Dictionary containing the mapping
variety_mappings = {0: 'Setosa', 1: 'Versicolor', 2: 'Virginica'}

# Encoding the target variables to integers
df = df.replace(['Setosa', 'Versicolor' , 'Virginica'], [0, 1, 2])

In [67]:
X = df.drop(['variety'], axis=1)
y = df['variety']

In [77]:
logreg = LogisticRegression(max_iter=1000) # Initializing the Logistic Regression model
logreg.fit(X, y) # Fitting the model

LogisticRegression(max_iter=1000)

In [81]:
model_save_path = "logreg_model.pkl"
with open(model_save_path,'wb') as file:
    pickle.dump(logreg, file)